<div class="w3-container w3-padding-large" style="margin-bottom:32px">
      <h4 style="text-align: center;"><b>About ATN Shop</b></h4>
      <p>ATN's toy shop is currently doing business in the form of online sales through a hotline number. The shop
        has a nationwide delivery service, so you can access and order anywhere. For faster and more convenient shopping
        advice, you can directly buy goods at the Shop.

        Coming to the ATN's toy shop, you can choose products from famous toy brands in the world such as:
        Assembling Lego from Denmark; Barbie Doll, HotWheels Car belonging to Mattel Corporation of America; Play-Doh
        clay of the US; Turkish brand Let's clay; Canada's Tuti Frutti clay; Hong Kong's Just For Chef cooking toy with
        brands expanding. Besides, you can also find exported Vietnamese toy brands such as: Anto, Toy Bricks,
        Blocks..., which have found a foothold in the world market.

        In terms of designs, the ATN's toy shop gives you a lot of choices in terms of products as well as
        accompanying services, giving customers the satisfaction of a ATN's toy shopping address. All items from
        dolls, lego assembly, to clay or cooking toys are imported by the shop with a variety of products, giving you
        the freedom to choose for your baby. Depending on the product, the shop has a promotion program for writing
        exercises and accompanying bags, and products with fake discounts at the most preferential prices.

        In terms of quality, the products at the shop come from reputable brands, quality assurance, each product is
        made from materials used to produce ATN's toys, extremely safe. The details are meticulously designed, the
        sharp corner position is rounded, avoiding injury to the baby when playing, so parents can rest assured to
        choose for their baby.

        With a top reputation, a ATN's toy shop will be the perfect choice for parents to find suitable and quality
        toys for their children, helping them nurture their intelligence and develop their minds. Smart according to
        each toy.</p>
      <hr>
      <h2 style="text-align: center;">
        <em >"Children's toys nurture intelligence, nurture the future"</em>
      </h2>
      

    </div>
